<footer>
    <div class="row">
    <div class="col-sm-4 d-flex flex-column align-items-start">
    <h6><span class="oi oi-chat"></span> Paginas Amigas:</h6>
    <a href="https://www.aerolineas.com.co/"><span class="oi oi-collapse-up"></span> Aerolineas Argentinas</a>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <address>
        <H6><span class="oi oi-home"></span> Casa Central:</H6>
        <p><span class="oi oi-bullhorn"></span> Rosario, Provincia de Santa Fe, Argentina</p>
        <p><span class="oi oi-phone"></span> Telefono: (+54) 3571-609526</p>
        <H6><span class="oi oi-audio-spectrum"></span> Correos Electronicos:</H6>
        <a href="mailto:francoan@gmail.com"> Gmail </a>
        <a href="mailto:francoan@hotmail.com.co"> Hotmail </a>
        <a href="mailto:francoan@yahoo.com"> Yahoo ! </a>
      </address>
    </div>
    </div>
  </footer>