<div class="container content">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                 <span class="anchor" id="formLogin"></span>
                        <div class="card card-outline-secondary">
                           <div	class="card-header">
                                <h3 class="mb-0"><span class="oi oi-bar-chart"></span> Mi lista de deseos (Wishlist)</h3>
                           </div>
                                <div class="card-body">
                                        <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                                </div>
                        </div>
                </div>
         </div>
                                <hr class="mb-5">
                                <div class="row row-flex">
                                        <app-viaje-destino
                                        *ngFor="let d of all; let i=index" 
                                        [destino]="d"
                                        [idx]="i+1"
                                        (onClicked) = 'elegido(d)'
                                        ></app-viaje-destino>
                                </div>

                                <hr class="mb-5">
                                <div class="row row-flex">
                                        <h5> Historial de Favoritos: </h5>
                                        <ul>
                                                <li *ngFor="let u of updates;">{{u}}</li>
                                        </ul>
                                </div>
</div>